In [6]:
# import library
import pandas as pd

# tabel pada website yang akan disimpan menjadi list of dataframe
tables = pd.read_html('https://www.skysports.com/f1/standings')

# assign tabel pertama ke variabel
table = tables[0]

table.head()

   #           Driver  Nat          Team  Pts
0  1   Max Verstappen  NED      Red Bull  255
1  2     Sergio Perez  MEX      Red Bull  156
2  3  Fernando Alonso  ESP  Aston Martin  137
3  4   Lewis Hamilton  GBR      Mercedes  121
4  5     Carlos Sainz  ESP       Ferrari   83